/* Top Portion */

.jumbotron {
    background-image: url("../imgs/bg1.jpg");
    height: 400px;
    background-position: center center;
    background-size: cover;
}

.social-icons {
    height: 40px;
    background-color: #1cbac8;
    text-align: right;
    position: static;
}

.fab {
    color: white;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    line-height: 30px;
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 1px;
  }

  .social-padding {
    padding: 5px;
  }

  .navigation {
    position: sticky;
    top: 0px;
    
  }

  .quote {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    background-color: white !important; 
    width: 50%; 
    padding: 25px;
    padding-bottom: 25px;
    top: 30%;
    left: 25%;
    margin: auto;
    opacity: 0.8;
    display: block;
    overflow: auto;
  }

  .image-quote {
    position: relative;
    z-index: -1;
  }

  /* the line under pricing */
  .wpm-border {
    width: 90px;
    height: 2px;
    background: #1CBAC8;
    margin: 0 auto;
    margin-bottom: 5px;
}

  /* body */

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#chartContainer {
    height: 370px;
    width: 100%;
}

span {
    margin-left: 35px;
}

.coin-icon {
    width: 20px;
}

.pricing {
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

h5 {
    text-align: center;
    
}

/* Footer */
.footer {
    text-align: center;
    height: 60px;
    background-color: slategray;
    color: white;
    padding: 18px;
    font-size: 14px;
}